**Lab 02: Data mining**

    *Name : Trần Tiến Đạt
    *MSSV : 22110039

# LOAD DATA, LIBRARIES AND DEPENDENCIES

In [1]:
!pip install ucimlrepo

Collecting ucimlrepo
  Obtaining dependency information for ucimlrepo from https://files.pythonhosted.org/packages/3b/07/1252560194df2b4fad1cb3c46081b948331c63eb1bb0b97620d508d12a53/ucimlrepo-0.0.7-py3-none-any.whl.metadata
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /workspaces/Data-mining/DMVenv/lib/python3.12/site-packages (from ucimlrepo) (2.2.3)
Collecting certifi>=2020.12.5 (from ucimlrepo)
  Obtaining dependency information for certifi>=2020.12.5 from https://files.pythonhosted.org/packages/38/fc/bce832fd4fd99766c04d1ee0eead6b0ec6486fb100ae5e74c1d91292b982/certifi-2025.1.31-py3-none-any.whl.metadata
  Downloading certifi-2025.1.31-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy>=1.26.0 in /workspaces/Data-mining/DMVenv/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/Data-mining/DMVenv/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/Data-mining/DMVenv/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/Data-mining/DMVenv/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /workspaces/Data-mining/DMVenv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Downloading certifi-2025.1.31-py3-none-any.whl (166 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 166.4/166.4 kB 7.2 MB/s eta 0:00:00
Installing collected packages: certifi, ucimlrepo
Successfully installed certifi-2025.1.31 ucimlrepo-0.0.7

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [ ]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
ionosphere = fetch_ucirepo(id=52) 
  
# data (as pandas dataframes) 
X = ionosphere.data.features 
y = ionosphere.data.targets 
  
# metadata 
print(ionosphere.metadata) 
  
# variable information 
print(ionosphere.variables)

{'uci_id': 52, 'name': 'Ionosphere', 'repository_url': 'https://archive.ics.uci.edu/dataset/52/ionosphere', 'data_url': 'https://archive.ics.uci.edu/static/public/52/data.csv', 'abstract': 'Classification of radar returns from the ionosphere', 'area': 'Physics and Chemistry', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 351, 'num_features': 34, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': ['Class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1989, 'last_updated': 'Sun Jan 01 1989', 'dataset_doi': '10.24432/C5W01B', 'creators': ['V. Sigillito', 'S. Wing', 'L. Hutton', 'K. Baker'], 'intro_paper': None, 'additional_info': {'summary': 'This radar data was collected by a system in Goose Bay, Labrador.  This system consists of a phased array of 16 high-frequency antennas with a total transmitted power on the order of 6.4 kilowatts.  See the paper for more details.  The targets were free electrons in the ionosphere. "Good" radar returns are those showing evidence of some type of structure in the ionosphere.  "Bad" returns are those that do not; their signals pass through the ionosphere.  \r\n\r\nReceived signals were processed using an autocorrelation function whose arguments are the time of a pulse and the pulse number.  There were 17 pulse numbers for the Goose Bay system.  Instances in this databse are described by 2 attributes per pulse number, corresponding to the complex values returned by the function resulting from the complex electromagnetic signal.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '-- All 34 are continuous\r\n-- The 35th attribute is either "good" or "bad" according to the definition summarized above.  This is a binary classification task.\r\n', 'citation': None}}
           name     role         type demographic description units  \
0    Attribute1  Feature   Continuous        None        None  None
1    Attribute2  Feature   Continuous        None        None  None
2    Attribute3  Feature   Continuous        None        None  None
3    Attribute4  Feature   Continuous        None        None  None
4    Attribute5  Feature   Continuous        None        None  None
5    Attribute6  Feature   Continuous        None        None  None
6    Attribute7  Feature   Continuous        None        None  None
7    Attribute8  Feature   Continuous        None        None  None
8    Attribute9  Feature   Continuous        None        None  None
9   Attribute10  Feature   Continuous        None        None  None
10  Attribute11  Feature   Continuous        None        None  None
11  Attribute12  Feature   Continuous        None        None  None
12  Attribute13  Feature   Continuous        None        None  None
13  Attribute14  Feature   Continuous        None        None  None
14  Attribute15  Feature   Continuous        None        None  None
15  Attribute16  Feature   Continuous        None        None  None
16  Attribute17  Feature   Continuous        None        None  None
17  Attribute18  Feature   Continuous        None        None  None
18  Attribute19  Feature   Continuous        None        None  None
19  Attribute20  Feature   Continuous        None        None  None
20  Attribute21  Feature   Continuous        None        None  None
21  Attribute22  Feature   Continuous        None        None  None
22  Attribute23  Feature   Continuous        None        None  None
23  Attribute24  Feature   Continuous        None        None  None
24  Attribute25  Feature   Continuous        None        None  None
25  Attribute26  Feature   Continuous        None        None  None
26  Attribute27  Feature   Continuous        None        None  None
27  Attribute28  Feature   Continuous        None        None  None
28  Attribute29  Feature   Continuous        None        None  None
29  Attribute30  Feature   Continuous        None        None  None
30  Attribute31  Feature   Continuous        None        None  None
31  Attribute32  Feature   Continuous        None        None  None
32  Attribute33  Feature   Continuous        None        None  None
33  Attribute34  Feature   Continuous        None        None  None
34        Class   Target  Categorical        None        None  None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no
22             no
23             no
24             no
25             no
26             no
27             no
28             no
29             no
30             no
31             no
32             no
33             no
34             no

In [6]:
import pandas as pd
import numpy as np


df = pd.DataFrame(X)
df.head()

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute25,Attribute26,Attribute27,Attribute28,Attribute29,Attribute30,Attribute31,Attribute32,Attribute33,Attribute34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,0.56811,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.20332,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,0.57528,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,1.00000,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,0.03286,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697

# PROBLEM 1

In [ ]:
# Take the values
array = df.values
array

# Initialize the Similarity Matrix
s1_matrix = np.zeros((50,50))
s2_matrix = np.zeros((50, 50))
sinf_matrix = np.zeros((50, 50))

#Metric function
def metric(x,y,p=2):
    norm = 0
    if p == 1:
        norm = np.sum(np.abs(x-y))
    elif p == 2:
        norm = np.sqrt(np.sum( np.square(x-y)))
    elif p == "inf":
        norm =np.max(np.abs(x,y))
    
    return norm

<h4> P = 1 </h4>

In [ ]:
for i,x in enumerate(array[:50]):
    for j,y in enumerate(array[:50]):
        dist_xy = metric(x,y,1)
        s1_matrix[i,j]  = dist_xy 

s1_df = pd.DataFrame(s1_matrix)
s1_df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.00000,13.08095,5.35971,21.05729,6.21387,15.16631,7.57704,22.28699,5.81361,17.20169,...,15.50779,26.84853,15.40607,19.81221,6.32025,22.58643,6.06466,15.98462,7.74504,21.06072
1,13.08095,0.00000,15.80038,20.76960,11.52616,12.58796,12.28109,22.63900,16.54506,14.54198,...,22.70350,26.61692,20.28314,26.21146,17.33330,19.99236,17.97123,17.53049,17.89603,18.96035
2,5.35971,15.80038,0.00000,20.30478,8.50424,14.24844,11.57535,21.16584,7.82230,16.08502,...,13.48098,26.12440,13.66118,18.89458,7.53900,22.89582,5.52207,15.88161,4.16871,19.98939
3,21.05729,20.76960,20.30478,0.00000,20.75218,17.81826,24.99635,15.73696,25.08336,19.09482,...,19.43860,30.66386,18.04686,26.25282,25.16296,28.67772,23.38175,19.61183,21.73987,22.64283
4,6.21387,11.52616,8.50424,20.75218,0.00000,11.78266,6.42595,22.27638,9.06074,14.07940,...,16.88588,25.24436,14.88660,22.87998,9.56442,21.35254,10.17651,15.35159,11.46505,18.71277

<h4> P = 2 </h4>

In [ ]:
for i,x in enumerate(array[:50]):
    for j,y in enumerate(array[:50]):
        dist_xy = metric(x,y,2)
        s2_matrix[i,j]  = dist_xy 

s2_df = pd.DataFrame(s2_matrix)
s2_df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.000000,2.776359,1.169728,4.772563,1.377347,3.049072,1.530471,4.803640,1.205018,3.564314,...,3.755511,5.654890,3.427634,4.300754,1.308325,4.656230,1.442618,3.744958,1.590903,4.400935
1,2.776359,0.000000,3.380033,4.454509,2.540531,2.783883,2.753930,4.859196,3.472495,3.271473,...,4.706489,5.559426,4.178256,5.367569,3.605786,4.257813,3.889480,3.904921,3.914338,3.966209
2,1.169728,3.380033,0.000000,4.671267,1.838508,3.129187,2.399696,4.679506,1.695460,3.452336,...,3.083444,5.530245,2.892681,4.125919,1.696884,4.897846,1.180488,3.827552,0.970671,4.355860
3,4.772563,4.454509,4.671267,0.000000,4.728259,3.853289,5.509146,3.754628,5.587566,4.107967,...,4.249062,6.557932,3.776382,5.857288,5.652422,5.972509,5.308004,4.729898,4.941800,5.213331
4,1.377347,2.540531,1.838508,4.728259,0.000000,2.721250,1.433354,4.871717,2.013416,3.156991,...,3.926386,5.281574,3.514293,4.729593,2.088083,4.503301,2.452612,3.705531,2.556097,4.018718

<h4> P = inf </h4>

In [ ]:
for i,x in enumerate(array[:50]):
    for j,y in enumerate(array[:50]):
        dist_xy = metric(x,y,"inf")
        sinf_matrix[i,j]  = dist_xy 

sinf_df = pd.DataFrame(sinf_matrix)
sinf_df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.00000,1.12221,0.45772,1.60536,0.53525,0.97202,0.48305,1.85243,0.39934,1.30906,...,1.27175,1.99539,1.13039,1.63825,0.41263,1.58212,0.60167,1.85243,0.57280,1.60536
1,1.12221,0.00000,1.10868,1.45300,1.02974,1.02959,1.26313,1.62237,1.42077,1.36117,...,1.62999,2.00000,1.43601,1.64286,1.41497,1.67743,1.46973,1.93035,1.45054,1.63147
2,0.45772,1.10868,0.00000,1.75535,0.66143,1.09924,0.69877,1.75535,0.57480,1.20908,...,1.12302,2.00000,1.05977,1.64286,0.57988,1.75535,0.44489,2.00000,0.42872,1.54591
3,1.60536,1.45300,1.75535,0.00000,1.65697,1.11949,1.82510,1.39330,1.90392,1.63728,...,1.79555,2.00000,1.57620,2.00000,1.89812,2.00000,1.95288,2.00000,1.93369,2.00000
4,0.53525,1.02974,0.66143,1.65697,0.00000,1.04064,0.55828,1.65158,0.81820,1.03762,...,1.37240,2.00000,1.33436,1.64286,0.73034,1.62197,0.85565,1.94140,0.85201,1.43770

# PROBLEM 2

<h3>1. open the  kddcup.data.corrected </h3>

In [38]:
import os
working_dir = os.getcwd()
kddcup_corrected_path = os.path.join(working_dir,"kddcup.data.corrected")

df = pd.read_csv(kddcup_corrected_path, header = None)
print(df.shape)
df.head()

(816523, 42)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,tcp,http,SF,215,45076,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,162,4528,0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.00,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,236,1228,0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.50,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,233,2032,0,0.0,0.0,0.0,...,3.0,1.0,0.0,0.33,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,239,486,0,0.0,0.0,0.0,...,4.0,1.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,normal.

<h3>2. take out the categorical columns </h3>

In [39]:
categorical_columns = df.select_dtypes(include = ['object']).columns
print(categorical_columns)
categorical_data = df[categorical_columns]
categorical_data.head()

Index([1, 2, 3, 41], dtype='int64')

    1     2   3        41
0  tcp  http  SF  normal.
1  tcp  http  SF  normal.
2  tcp  http  SF  normal.
3  tcp  http  SF  normal.
4  tcp  http  SF  normal.

<h3>3. check for duplicates entries and eliminates it </h3>

In [49]:
print(categorical_data.duplicated().sum())
categorical_data.drop_duplicates(inplace = True)
print(categorical_data.duplicated().sum())

0
0

/tmp/ipykernel_5741/3381626736.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_data.drop_duplicates(inplace = True)

<h3>4. create 2 distance measure function </h3>

In [60]:
from collections import defaultdict

def overlap_similarity(x,y) -> float:
    d = x.shape[0]
    return ((x == y).sum())*float(1/d)
    
def invertf_similarity(x,y) -> float:
    d = x.shape[0]
    f_x = defaultdict(int)
    f_y = defaultdict(int)
    for item in x:
        f_x[item] +=1
    for item in y:
        f_y[item] +=1

    value = 0
    for x_item,y_item in zip(x,y):
        if x_item == y_item:
            value+= 1
            next
        value+= float(1/(1+ np.log(f_x[x_item] + f_y[y_item])))

    return value/float(d)

In [63]:
overlapf_matrix = np.zeros((100,100))
invertf_matrix = np.zeros((100,100))

In [64]:
for i,x in enumerate(categorical_data.values[:100]):
    for j,y in enumerate(categorical_data.values[:100]):
        dist_xy = overlap_similarity(x,y)
        overlapf_matrix[i,j]  = dist_xy

overlapf_df = pd.DataFrame(overlapf_matrix)
overlapf_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.00,0.75,0.75,0.75,0.50,0.75,0.75,0.75,0.50,0.50,...,0.50,0.50,0.25,0.25,0.50,0.50,0.50,0.25,0.25,0.25
1,0.75,1.00,0.75,0.50,0.25,0.50,0.50,0.50,0.25,0.25,...,0.25,0.50,0.25,0.25,0.25,0.25,0.50,0.25,0.25,0.25
2,0.75,0.75,1.00,0.50,0.25,0.50,0.50,0.50,0.25,0.25,...,0.25,0.50,0.25,0.25,0.25,0.25,0.50,0.25,0.25,0.25
3,0.75,0.50,0.50,1.00,0.50,0.75,0.75,0.75,0.50,0.50,...,0.50,0.25,0.25,0.25,0.50,0.50,0.75,0.50,0.25,0.25
4,0.50,0.25,0.25,0.50,1.00,0.50,0.50,0.50,0.50,0.25,...,0.25,0.00,0.00,0.00,0.25,0.25,0.25,0.00,0.00,0.00

In [65]:
for i,x in enumerate(categorical_data.values[:100]):
    for j,y in enumerate(categorical_data.values[:100]):
        dist_xy = invertf_similarity(x,y)
        overlapf_matrix[i,j]  = dist_xy

overlapf_df = pd.DataFrame(overlapf_matrix)
overlapf_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.590616,1.340616,1.340616,1.340616,1.090616,1.340616,1.340616,1.340616,1.090616,1.090616,...,1.090616,1.090616,0.840616,0.840616,1.090616,1.090616,1.090616,0.840616,0.840616,0.840616
1,1.340616,1.590616,1.340616,1.090616,0.840616,1.090616,1.090616,1.090616,0.840616,0.840616,...,0.840616,1.090616,0.840616,0.840616,0.840616,0.840616,1.090616,0.840616,0.840616,0.840616
2,1.340616,1.340616,1.590616,1.090616,0.840616,1.090616,1.090616,1.090616,0.840616,0.840616,...,0.840616,1.090616,0.840616,0.840616,0.840616,0.840616,1.090616,0.840616,0.840616,0.840616
3,1.340616,1.090616,1.090616,1.590616,1.090616,1.340616,1.340616,1.340616,1.090616,1.090616,...,1.090616,0.840616,0.840616,0.840616,1.090616,1.090616,1.340616,1.090616,0.840616,0.840616
4,1.090616,0.840616,0.840616,1.090616,1.590616,1.090616,1.090616,1.090616,1.090616,0.840616,...,0.840616,0.590616,0.590616,0.590616,0.840616,0.840616,0.840616,0.590616,0.590616,0.590616